<app-header></app-header>

<div>
  <section class="banner mb-5">
      <div class="textSH"> 
          <p class="title">Nhà Thông Minh <br><strong> V SmartHome </strong></p>
          
      </div>
      <div>
        <a class="banner-z"> 
          <div>
            <iframe class="vdeo"src="https://www.youtube.com/embed/QywDC_FUwJM?autoplay=0&loop=1&rel=0&controls=0&showinfo=0&autohide=1&modestbranding=1&vq=hd1080&enablejsapi=1&origin=https%3A%2F%2Fsmarthome.com.vn&widgetid=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </a>
      </div>
  </section>
</div>
<br>
<div class="cardall">
  <div class="container-fluid container_swap">
    <div class="cards">
      <div class="card card1">
          <div class="container">
              <img src="assets/IMG/NTM.jpg" alt="Nhà thông minh (Smart home) là gì?">
          </div>
          <div class="noi-dung">
              <h3>Nhà thông minh (Smart home) là gì?</h3>
              <p>Nhà thông minh (smart home) là ngôi nhà cho phép chủ nhân điều khiển bật/ tắt hệ thống đèn điện, điều hòa, tivi, bình nóng lạnh, rèm cửa …, bằng Smartphone và giọng nói. </p>
              <input class="btn1" type="button" onclick="location.href='https://lumi.vn/Tin-tuc-lumi-11-325-nha-thong-minh-smart-home-la-gi.html';" value="READ MORE" />
          </div>
      </div>
     <div class="card card2">
          <div class="container">
              <img src="assets/IMG/ledtm.jpeg" alt="Chiếu sáng thông minh Lumi Smart Lighting">
          </div>
          <div class="noi-dung">
              <h3>Chiếu sáng thông minh Smart Lighting</h3>
              <p>Điều khiển ánh sáng linh hoạt bằng Smartphone và Giọng nói.
                Ứng dụng công nghệ chiếu sáng lấy con người làm trung tâm (Human Centric Lighting – HCL) dựa trên nghiên cứu đạt giải Nobel Y học 2017...</p>
                <input class="btn2" type="button" onclick="location.href='#';" value="READ MORE" />
          </div>
      </div>
     <div class="card card3">
          <div class="container">
              <img src="assets/IMG/bvgd.jpg" alt="Nhà thông minh - Chuẩn an ninh">
          </div>
          <div class="noi-dung">
              <h3>Nhà thông minh - Chuẩn an ninh</h3>
              <p>Camera thường chỉ cho bạn xem lại quá trình trộm đột nhập và “cuỗm” hết đồ đạc. Còn nhà thông minh sẽ tự bảo vệ mình và gia đình bạn, đuổi trộm ngay khi camera an ninh phát hiện xâm nhập lạ</p>
              <input class="btn3" type="button" onclick="location.href='https://lumi.vn/ai-camera-thong-minh-an-ninh-chong-trom/';" value="READ MORE" />
          </div>
      </div>
      </div>
  </div>
  </div>
<br>
<div class="container-fluid container_swap">
  <div class="div_left col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
    <figure>
      <div class="media" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/bg_15.png)"></div>
      <figcaption>
        <svg viewBox="0 0 200 200" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <mask id="mask" x="0" y="0" width="100%" height="100%">
              <rect id="alpha" x="0" y="0" width="100%" height="100%"></rect>
              <text class="title" dx="50%" dy="2.5em">READ</text>
              <text class="title" dx="50%" dy="3.5em">MORE</text>
              <text class="title" dx="50%" dy="4.5em"></text>
            </mask>
          </defs>
          <rect id="base" x="0" y="0" width="100%" height="100%"></rect>
        </svg>
        <div class="body">
          <p style="text-align: center; font-weight: bold;" >Nhà Thông Minh là gì?</p>
        </div>
      </figcaption><a href="https://lumi.vn/Tin-tuc-lumi-11-325-nha-thong-minh-smart-home-la-gi.html"></a>
    </figure>
  </div>
  <div class="div_right col-lg-6 col-md-6 hidden-sm hidden-xs">
    <figure >
      <div class="media" href="https://www.w3schools.com" style="background-image: url(https://mitsuli.com.vn/wp-content/uploads/2020/08/nha-thong-minh-6.jpg);background-repeat: repeat; "></div>
      <figcaption>
        <svg viewBox="0 0 200 200"  version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
          <defs >
            <mask id="mask" x="0" y="0" width="100%" height="100%">
              <rect id="alpha" x="0" y="0" width="100%" height="100%"></rect>
              <text class="title" dx="50%" dy="2.5em">READ</text>
              <text class="title" dx="50%" dy="3.5em">MORE</text>
              <text class="title" dx="50%" dy="4.5em"></text>
            </mask>
          </defs>
          <rect id="base" x="0" y="0" width="100%" height="100%"></rect>
        </svg>
        <div class="body">
          <p>6 lợi ích từ căn nhà thông minh đem lại cho người dùng.</p>
        </div>
      </figcaption><a href="https://dicom.vn/tin-tuc-su-kien/tin-tuc/6-loi-ich-tu-can-nha-thong-minh-mang-lai-trai-nghiem-khac-biet-cho-chu-nha.html"></a>
    </figure>
  </div>
</div>

<br>
<br>

<div class="container-fluid container_swap">
  <div class="div_left col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
    <figure>
      <div style="">
        <iframe width="690" height="335" src="https://www.youtube.com/embed/sYqjs8TKkOE?controls=0&amp;start=10&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </figure>
  </div>
  <div class="div_right col-lg-6 col-md-6 hidden-sm hidden-xs">
    <figure>
      <div style="">
        <iframe width="690" height="335" src="https://www.youtube.com/embed/2M4_TU7a1qQ?controls=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </figure>
  </div>
</div>

<div class="footer">
<app-footer></app-footer>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">