
<app-board-admin></app-board-admin>
<div class="container">
  <br>
  <br>
  <h1 style="text-align: center;font-weight: bolder;color: coral;">THÊM THÔNG TIN SẢN PHẨM</h1>
      <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
        
          <div class="row">
            <div class="col-6">
        <div class="form-group">
          <label>Tên Sản Phẩm</label>
          <input class="form-control" type="text" formControlName="name" required>
        </div>
  
        <div class="form-group">
          <label>Giá Bán</label>
          <input class="form-control" type="text" formControlName="price" required>
        </div>
  
        <div class="form-group">
          <label>Mô Tả</label>
          <textarea class="form-control" rows="4" type="text" formControlName="description" required>
        </textarea>
          </div>
            </div>
            <div class="col-6">
        <div class="form-group">
          <label>Hình Minh Hoạ <strong style="color: brown;">(URL)</strong></label>
          <input class="form-control" type="text" id="customFile" formControlName="urlImage" required>
        </div>

        <div class="form-group">
          <label>Số Lượng</label>
          <input class="form-control" type="text" formControlName="quantity" required>
        </div>
        
     <div class="form-group">
           <label>Thương Hiệu</label>
          <select [(ngModel)]="brandid" class="form-control form-select"aria-label="Default select example" formControlName="brand" required>
            <option *ngFor="let brand of brands" [value]="brand._id">{{brand.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Loại Sản Phẩm</label>
         <select [(ngModel)]="ptypeid" class="form-control form-select" aria-label="Default select example" formControlName="ptype" required>
  
          <option *ngFor="let ptype of ptypes" [value]="ptype._id">{{ptype.name}}</option>
         </select>
       </div>
        <div class="form-group buttonsave">
          <button class="btn btn-primary btn-block" type="submit">Add Product</button>
        </div>
            </div>
      </div>
      </form>
    </div>
