<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<app-header></app-header>
    
<section class="banner mb-5">
            <div class="branch">VSMART</div>
            <h1 class="slogan">
            THÀNH PHỐ 
            <br>
            <br>
            <br>
            THÔNG MINH
            </h1>
            <br>
            <p class="box">
                Mô hình thành phố ứng dụng công nghệ thông tin, 
                trí tuệ nhân tạo vào trong quản lý, 
                nâng cao tiêu chuẩn cuộc sống đô thị, 
                cải thiện và sử dụng hiệu quả các nguồn năng lượng, 
                tài nguyên thiên nhiên.
            </p>
        </section>
        
<app-footer></app-footer>