@import url(./style.css);
@media screen and (max-width: 767px) {
    .menu-toggle {
        display: block;
        z-index: 20;
        font-size: 25px;
        margin-left: 30px;
        display: block;
        z-index: 20;
        font-size: 25px;
        margin-left: 20px;
        right: -10px;
        position: relative;
        cursor: pointer;
    }
    .header-menu {
        position: fixed;
        top: 0;
        right: 0;
        background-color: #fff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        max-width: 320px;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 20px;
        font-size: 18px;
        transform: translateX(100%);
        transition: all 0.5s linear;
    }
    .is-show {
        transform: translateX(0);
    }
    /*home*/
    .container {
        width: 90%;
    }
    .home-container {
        flex-direction: column;
        row-gap: 30px;
    }
    .home-container__data {
        width: 100%;
    }
    h2.data-title {
        font-size: 40px;
    }
    h3.data-subtitle {
        font-size: 24px;
    }
    .home-image {
        width: 300px;
    }
    /*about*/
    .about-container {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 25px;
    }
    .about-container__data {
        text-align: center;
    }
    .button.data-btn {
        padding: 16px 20px;
    }
    .about-container .about-image {
        width: 300px;
    }
    /*Service*/
    .service-container__list {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    /*menu*/
    .menu-container {
        padding: 20px 15px;
    }
    .menu-container__btn {
        display: flex;
    }
    .menu-container__btn {
        display: grid;
        justify-content: flex-start;
        grid-auto-columns: 60%;
        height: 45px;
        grid-auto-flow: column;
        grid-gap: 0.5rem;
        overflow: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        -webkit-overflow-scrolling: touch;
        scroll-padding: 1rem;
        grid-template-columns: unset;
    }
    .menu-container__btn::-webkit-scrollbar {
        display: none;
        width: 0;
    }
    .menu-container__btn>* {
        scroll-snap-align: start;
    }
    button.btn-menu {
        padding: 10px 25px;
        margin-right: 15px;
        border-radius: 25px;
    }
    .menu-container__list {
        margin-top: 40px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
    }
    /*app*/
    .app-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    img.app-image {
        width: 250px;
        object-fit: cover;
    }
    .app-download {
        justify-content: center;
    }
    /*contact*/
    .contact-container {
        display: block;
        text-align: center;
    }
    button.data-btn {
        padding: 15px;
    }
    /*subscrice*/
    .subscrice-container {
        grid-template-columns: 1fr;
        place-content: center;
        grid-row-gap: 50px;
    }
    .subscrice-form {
        max-width: 300px;
    }
    .subscrice-input {
        width: 100%;
    }
    /*footer*/
    .footer-container__list {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    /*noti*/
    .noti {
        right: 15px;
    }
    .product-header h5 {
        text-transform: uppercase;
        border-bottom: 4px solid #ccc;
        font-size: 14px;
    }
    .product {
        width: 45%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: end;
    }
    .quanlity {
        justify-content: center;
    }
    img.menu-image {
        margin-left: 8px;
    }
    .product img {
        width: 110px;
        object-fit: cover;
    }
    .basketTotal {
        margin-left: 25px;
        margin-right: 0px;
        font-size: 20px;
    }
}