
<app-board-admin></app-board-admin>
<div class="container"*ngIf="!isLoggedIn">
  <app-login></app-login>
</div>
<div class="container" *ngIf="isLoggedIn">
  
  <br>
  <br>
  <h1 style="text-align: center;font-weight: bolder;color: coral;">THÊM test gh</h1>
      <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
        
          <div class="row">
            <div class="col-6">
        <div class="form-group">
          <label>Tên Sản Phẩm</label>
          <input class="form-control" type="text" formControlName="name" required>
        </div>
  
        <div class="form-group">
          <label>Giá Bán</label>
          <input class="form-control" type="text" formControlName="price" required>
        </div>
            </div>
            <div class="col-6">
        <div class="form-group">
          <label>Hình Minh Hoạ <strong style="color: brown;">(URL)</strong></label>
          <input class="form-control" type="text" id="customFile" formControlName="urlImage" required>
        </div>

        <div class="form-group">
          <label>Số Lượng</label>
          <input class="form-control" type="text" formControlName="quantity" required>
        </div>
        <div class="form-group">
            <label>tong</label>
            <input class="form-control" type="text" formControlName="total" required>
          </div>
          <div class="form-group">
            <label>userID</label>
            <input class="form-control" type="text" formControlName="user_ID" required>
          </div>
        <div class="form-group buttonsave">
          <button class="btn btn-primary btn-block" type="submit">Add</button>
        </div>
            </div>
      </div>
      </form>
    </div>
