<footer id="footer">
    <div class="col-12 line-bot-1">
        <div class="container">
            <div class="text-center">
                <div >
                    <div class="img text-center">
                        <img class="logo-footer rounded mx-auto d-block" src="assets/IMG/logo-top-white.png" alt="vin3s">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4 f1">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold fter">Công ty Cổ phần Vinsmart</h6>
          <ul  class="navbar-nav">
              <li>
                <i class="bi bi-telephone-inbound"></i>
                  <a href="1900 23 23 89">
                    <span>
                        1900 23 23 89 <strong>
                        (1000 VNĐ/phút)</strong>
                    </span>
                  </a> 
              </li>
          </ul>
          <div class="cleanline"></div>
          <div class="imgcontact">
            <img src="https://www.vsmart.net/themes/porto/img/vinsmart/vsmart_logo_footer.svg"  alt="vsmart">
          </div>
        </div>
        <!-- Grid column -->

  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 ">
          <h6 class="text-uppercase mb-4 font-weight-bold fter">Sản Phẩm</h6>
            <p>
              <a (click)="gotoTop()"  [routerLink]="['/device']">Thiết Bị</a>
            </p>
            <p>
              <a (click)="gotoTop()"  [routerLink]="['/products']">Sản Phẩm</a>
            </p>
            <p>
              <a (click)="gotoTop()"   [routerLink]="['/phome']">SmartHome</a>
            </p>
            <p>
              <a (click)="gotoTop()"  [routerLink]="['/pcity']">SmartCity</a>
            </p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3" >
          <h6 class="text-uppercase mb-4 font-weight-bold fter">Liên Kết</h6>
          <p>
            <a (click)="gotoTop()" [routerLink]="['/']">Your Account</a>
          </p>
          <p>
            <a  (click)="gotoTop()" [routerLink]="['/']">Become an Member</a>
          </p>
          <p>
            <a  (click)="gotoTop()" [routerLink]="['/']">Shipping Rates</a>
          </p>
          <p>
            <a  (click)="gotoTop()" [routerLink]="['/']">Help</a>
          </p>
        </div>
  
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold fter">Hỗ Trợ</h6>
          <p>
            <i class="fas fa-home mr-3"></i> Q12, HCM 700000, VN</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 01 234 567 89</p>
          <p>
            <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Footer links -->
  
      <hr>
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://linktr.ee/hoanglong24">Design By Long Hoang Tran</a>
    </div>
    
    <!-- Copyright --> 
    </div> 
  </footer>
  <!-- Footer -->
</footer>