<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<app-header></app-header>
<app-scroll-to-top></app-scroll-to-top>

<div class="container-lg my-3">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/IMG/bn3.png" alt="First Slide">
            </div>
            <div class="carousel-item">
                <img src="/assets/IMG/bn2.jpg" alt="Second Slide">
            </div>
            <div class="carousel-item">
                <img src="/assets/IMG/bn1.png" alt="Third Slide">
            </div>
            <div class="carousel-item">
                <img src="/assets/IMG/bn4.webp" alt="Fourth Slide">
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>

<div class="container">
    <!--HOT NEWS-->
    <div class="hotnews">
        <h2 class="block-title">
            Sản Phẩm Nổi Bật
        </h2>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4" *ngFor="let product of products " style="display: inline-block;">
                <div class="card">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row align-items-center time"> <i class="fa fa-clock-o"></i> <small class="ml-1"><countdown [config]="config"></countdown></small> </div> <img src="https://i.imgur.com/suuFVrQ.png" width="20">
                    </div>
                    <div class="text-center center"> <img src="{{product.urlImage}}" width="250"> </div>
                    <div class="text-center">
                        <h3><strong>{{product.name}}</strong></h3> <span class="text-success">$ {{product.price}}</span><br><br>
                        <a    class="a-detail btn btn-outline-secondary">VIEW DETAIL</a> <a (click)="addItemToCart(product._id ,product.price,1 ,username)"class="a-cart btn btn-danger">ADD TO CART</a>
                        <br>
                        <br>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>                                
</div>
<app-footer></app-footer>
